body {
	background-color: #f7ede2;
}

button {
	font-size: 15px;
	background-color: #84a59d;
}

h1,
h2 {
	color: #264653;
}

#signup {
	color: #f7ede2;
	background-color: #2d2d34;
}

span {
	color: #f6bd60;
}
.post a {
	color: #f4a261;
	font-weight: 700;
	text-decoration: none;
}
.post a:hover {
	text-decoration: underline;
}
.post button:hover {
	background-color: #f7ede2;
	color: #95190c;
}
.post button:active {
	background-color: #84a59d;
}
.post:nth-of-type() {
	background-color: #edd7bf;
}
.tag {
	background-color: #b2675e;
	color: #f7ede2;
	font-size: 16px;
}

footer a {
	color: #b2675e;
}

h2 + button {
	background-color: #a4036f;
	color: #c8c7d1;
	font-size: 12px;
}

footer > a {
	color: #e9c46a;
}

input[type="password"] {
	color: #905e27;
}

h2::first-letter {
	font-size: 30px;
}
h2::selection {
	background-color: #f4a261;
	color: #f7ede2;
}
